

html {
    box-sizing: border-box;
    
}

header {
    height: 5vh;
    background-color: #F3F5FC;

}


main {
    background-color: #F3F5FC;
    width: 100vw;
    height: 90vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display:flex;
    font-family: 'Montserrat', sans-serif;


}



/* +++++++++++++++++++++++++++++++ BLOQUE DE LOGO +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.seccion-logo {
    width: 10%;
    height: 100%;
}

.logo {
    margin: 0px 0 0 50px;
}


/* +++++++++++++++++++++++++++++++ BLOQUE DE MENSAJE ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



.seccion-mensaje {
    width: 55%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    /* justify-items: center; */
    /* align-items: center; */
    justify-content: space-between;
    align-self: center;
}

.mensaje {
    width: 80%;
    height: 60%;
    margin: auto;
    padding: 10rem 0 0 0;
    border: 0;
    font-size: 2em;
    background: rgba(148, 68, 68, 0) 0;
    resize: none;
    font-family: 'Montserrat', sans-serif;
    color: #0A3871;
}
.mensaje:focus {
    outline: none;
    color: #0A3871;
}

.mensaje::placeholder {
    color: #0a38717f;
}


.contenido-botones {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    text-align: center;
}

.advertencia {
    margin: 10px auto;
    text-align: start;
    width: 100%;
    padding-left: 4rem;
}

.boton-encriptar {
    width: 40%;
    padding: 20px 0;
    background: #0A3871;
    border: 1px solid #0a387139;
    color: white;
    border-radius: 20px;
    cursor:pointer;
    align-self: end ;
    margin: 0 10px 0px 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
}

.boton-desencriptar {
    width: 40%;
    padding: 20px 0;
    background: #D8DFE8;
    border: 1px solid #0a387139;
    color: #0A3871;
    border-radius: 20px;
    cursor:pointer;
    margin: 0 10px 0px 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
}

/* +++++++++++++++++++++++++++++++ BLOQUE DE RESULTADO ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.seccion-resultado {
    width: 35vw;
    height: 100%;
    text-align: center;
}

/* +++++++++++++++++++++++++++++++ MUÑECO ENCRIPTADOR ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.contenido-resultados {
    width: 80%;
    height: 80vh;
    margin: 40px auto;
    background-color: white;
    border: 1px solid #ffffff;
    border-radius: 25px;
    box-shadow: 2px 1px 25px -10px #0a38718d;
    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    
}

.muneco {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
    height: 100%;
    margin: auto;
}

.munecoImg {
    width: 80%;
    margin: 0;
    align-items: center;
    justify-content: center;

}

.munecoTitulo {
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.6rem;
    color: #0A3871 ;
    margin: 0;
    width: 80%;
    align-items: center;
    justify-content: center;
    

}

.munecoParrafo {
    width: 80%;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
}


/* +++++++++++++++++++++++++++++++  RESULTADO ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.resultado {
    display: none;
    height: auto;
    flex-direction: column;
    align-items: center; /* Centrar verticalmente */

    justify-content: center; /* Centrar horizontalmente */
}


.textarea-resultado {
    width: 90%;
    height: 60vh;
    display: block;
    margin: 10px auto;
    font-family: 'Montserrat', sans-serif;
    resize: none;
    border: 1px solid #ffffff;
    font-size: 2em;
}

.textarea-resultado:focus {
    outline: none;
    color: #0A3871;
}

.boton-copiar {
    width: 60%;
    padding: 20px 0;
    background: #D8DFE8;
    border: 1px solid #0a387139;
    color: #0A3871;
    border-radius: 20px;
    cursor:pointer;
    /* margin: 25px 10px 70px 10px; */
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
}


/* +++++++++++++++++++++++++++++++ FOOTER +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


footer {
    background-color: #F3F5FC;
    width: 100vw;
    height: 5vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display:block;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 0.8rem;
    
}

footer + div + p {
    margin-top: 5px;
    text-align: center;
}